<div class="login">
	<h1 class="login-title">Enter top-secret credentials:</h1>
	<mat-card class="login-form">
		<mat-form-field appearance="fill">
			<mat-label>Enter your login</mat-label>
			<input
				matInput
				placeholder="pat@example.com"
				#username
				[formControl]="login"
			/>
			<mat-error *ngIf="login.invalid">{{ getErrorLogin() }}</mat-error>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Enter your password</mat-label>
			<input
				matInput
				#password
				[type]="hide ? 'password' : 'text'"
				[formControl]="passcode"
			/>
			<button
				mat-icon-button
				matSuffix
				(click)="hide = !hide"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hide"
			>
				<mat-icon>{{
					hide ? "visibility_off" : "visibility"
				}}</mat-icon>
			</button>
			<mat-error *ngIf="passcode.invalid">{{
				getErrorPasscode()
			}}</mat-error>
		</mat-form-field>
		<mat-label>{{ accountService.wrongValue }}</mat-label>
		<button
			mat-flat-button
			color="primary"
			class="login-btn"
			(click)="accountService.login(username, password)"
			routerLink="/home"
		>
			Login
		</button>
	</mat-card>
</div>
