mat-toolbar {
	width: auto;
	height: auto;
	margin-left: 50px;
	position: fixed;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: #fcddf2;
	color: #242038;
	.home-icon {
		width: auto;
	}
}
