mat-toolbar {
	width: auto;
	height: auto;
	margin-left: 50px;
	position: fixed;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background: rgb(194, 24, 91, 0.4);
	.home-icon {
		width: auto;
	}
}
