<mat-toolbar>
	<button *ngIf="accountService.getAppState()"
		mat-icon-button class="home-icon"
		aria-label="Example icon-button with menu icon"
		routerLink="/home">
		<span>{{ "TEST.PORTFOLIO" | translate }}</span>
		<span class="example-spacer"></span>
	</button>
	<button *ngIf="accountService.getAppState()"
		mat-icon-button
		aria-label="Example icon-button with menu icon"
		routerLink="/login">
		<mat-icon>home</mat-icon>
	</button>

	<button *ngIf="accountService.getAppState()"
		mat-icon-button (click)="logout()"
		aria-label="Example icon-button with heart icon">
		<mat-icon>logout</mat-icon>
	</button>
	<button [matMenuTriggerFor]="menu"
		mat-icon-button>
		<mat-icon>language</mat-icon>
	</button>
	<mat-menu #menu="matMenu" class="lang-menu">
		<button
			*ngFor="let languageItem of langItems"
			mat-menu-item class="lang-btn"
			(click)="useLanguage(languageItem.code)">
			{{ languageItem.title | translate }}
		</button>
	</mat-menu>
</mat-toolbar>